*{margin: 0; padding: 0;}

#container{
    width: 70%;
    height: 28.5vh;
    margin-left: 15%;
    display: block;
    /* adicionei cor e fonte especificadas no figma */
    color: #474747;
    font-family: 'Inter', sans-serif;
}

#saleContent{
    width: 100%;
    height: 23vh;
    margin-top: 2vh;
    display: flex;
    justify-content: space-between;
}

.oferta{
    width: 32%;
    height: 100%;
    padding-top: 1.5%;
    padding-left: 2%;
    border-radius: 5px;
    box-sizing: border-box;
    position: relative;
    background-color: #D8E3F2;
}

.oferta span{
    padding: 0.75vh 1.5vh;
    /* Alterei as cores da fonte e do bg conforme especificado no figma */
    background-color: #e7ff86;
    color: inherit;
    border-radius: 30px;
    font-size: xx-small;
}

.oferta h1{
    /* adicionei cor a fonte conforme especificado no figma */
    color: #1f1f1f;
    font-size: larger;
    font-family: sans-serif;
    margin-top: 2vh;
}

.oferta button{
    width: 16vh;
    height: 4vh;
    margin-top: 2vh;
    border: none;
    border-radius: 3px;
    background-color: white;
    color: #c92071;
    font-weight: bold;
    cursor: pointer;
}

.imgContent{
    width: 55%;
    height: 100%;
    position: absolute;
    bottom: 0%;
    right: 0%;
}

.imgContent img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* adicione borda arredondada ao canto inferior esquerdo da img pra garantir q fique de acordo com a div(util no caso da camiseta) */
    border-radius: 0 0 5px 0;
}